<!-- HEADER -->
<%- include('./partials/header.ejs') %>

<h1><%= title %></h1>
<a href="/category">Go To Category List</a>
<a href="/item">Go To Item List</a>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
